# SwiftFusePHP example environment file
APP_ENV=local
APP_DEBUG=true
APP_NAME=SwiftFusePHP
APP_VERSION=0.1
APP_LOCALE=en
APP_TIMEZONE=America/Bogota
FORCE_SSL=true
LOCALDIR=SwiftFusePHP/

DB_HOST=localhost
DB_USERNAME=remoto
DB_PASSWORD=123456
DB_DATABASE=swiftfusephp_test
DB_SSL_CA=

RECAPTCHA_KEY=
STORAGE_PATH=storage/
